<div class="d-flex flex-wrap justify-content-center align-items-center">
        <div class="card text-white mb-3 shadow-sm" id="card">

          <%= render 'coin_box' %>      

        </div>
        <div class="text-center"><span class="s1 font-weight-bold">ONEBIT</span><span class="s2 font-weight-bold">EXCHANGE</span><span class="s3 font-weight-bold">V2</span></div>
        
      </div>